@import "tailwindcss";

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #d6d6d6;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.header {
        background-size: cover;
    /* opacity: 0.7; */
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url('./assets/images/Header.jpg');
    height: 200px;
    color: #fff;
}

.card {
    background: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 30%;
    border: 1px solid rgb(137, 137, 137);
}

.active {
    color: gray;

}